---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/heros/HeroSection.astro';
import aboutContent from '../../public/cms/about.json';
import Icon from 'astro-icon';
import ThreeColumnTextSection from '../components/sections/ThreeColumnTextSection.astro';
import CtaGeneral from '../components/CtaGeneral.astro';
import { Image } from '@astrojs/image/components';
import CustomerQuoteSection from '../components/sections/CustomerQuoteSection.astro';

const seo = {
	title: 'About | Empowered Healing Counseling',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About</h1>
			<p>
				{aboutContent.aboutBlurb}
			</p>
		</div>
		<picture slot="image-container">
			<Image
				width={828}
                aspectRatio="2:1"
				src="./assets/images/about-me-hero.webp"
				alt="About Me - Empowered Healing Counseling"
				id="about-hero-image"
				loading="eager"
			/>
			<!-- <img
				src="/assets/images/home/somatic-experiencing.webp"
				alt="Astro Odyssee"
				id="home-hero-image"
			/> -->
		</picture>
	</HeroSection>

    <CustomerQuoteSection
		quoteText={aboutContent.quote}
		customerName={aboutContent.quoteAuthor}
	/>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<Icon name="ic:outline-school" />
			<h2>Education</h2>
			<p>
				{aboutContent.education}
			</p>
		</div>
		<div slot="column-2-body">
			<Icon name="clarity:license-solid" />
			<h2>License</h2>
			<p>
				I am a Licensed Mental Health Counselor in Washington state:
                <br />
				{aboutContent.licenseNumber}
			</p>
		</div>
		<div slot="column-3-body">
			<Icon name="ri:psychotherapy-line" />
			<h2>Training</h2>
			<p>
				{aboutContent.training}
			</p>
		</div>
	</ThreeColumnTextSection>
	<TextSection narrow>
		<h2>A little bit about me</h2>
		<p style="white-space: pre-line;">
			{aboutContent.aboutContent}
		</p>
	</TextSection>

	<CtaGeneral />
</Layout>

<style>
	[astro-icon] {
		height: 3rem;
	}
</style>
