---
import TextSection from '../components/sections/TextSection.astro';
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/heros/HeroSection.astro';
import aboutContent from '../../public/cms/about.json';
import Icon from 'astro-icon';
import ThreeColumnTextSection from '../components/sections/ThreeColumnTextSection.astro';
import CtaGeneral from '../components/CtaGeneral.astro';
import CustomerQuoteSection from '../components/sections/CustomerQuoteSection.astro';

const seo = {
	title: 'About | Empowered Healing Counseling - Meaghan Trezza, LMHC',
	description: 'About Meaghan Trezza, LMHC, Licensed Mental Health Counselor in Washington state. Specializing in anxiety, depression, and trauma.',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About</h1>
			<p>
				{aboutContent.aboutBlurb}
			</p>
		</div>
		<picture slot="image-container">
			<img
				width="828"
				height="414"
				src="/assets/images/about-me-hero.webp"
				alt="About Me - Empowered Healing Counseling"
				id="about-hero-image"
				loading="eager"
			/>
		</picture>
	</HeroSection>

    <CustomerQuoteSection
		quoteText={aboutContent.quote}
		customerName={aboutContent.quoteAuthor}
	/>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<Icon name="ic:outline-school" />
			<h2>Education</h2>
			<p>
				{aboutContent.education}
			</p>
		</div>
		<div slot="column-2-body">
			<Icon name="clarity:license-solid" />
			<h2>License</h2>
			<p>
				I am a Licensed Mental Health Counselor in Washington state:
                <br />
				{aboutContent.licenseNumber}
			</p>
		</div>
		<div slot="column-3-body">
			<Icon name="ri:psychotherapy-line" />
			<h2>Training</h2>
			<p>
				{aboutContent.training}
			</p>
		</div>
	</ThreeColumnTextSection>
	<TextSection narrow>
		<h2>A little bit about me</h2>
		<div class="about-content">
			{aboutContent.aboutContent.split('\n\n').map(paragraph => {
				// Handle bullet point lists
				if (paragraph.includes('\t•\t')) {
					const [beforeList, ...rest] = paragraph.split('\n');
					const listItems = rest.filter(item => item.includes('\t•\t'));
					const afterListContent = rest.filter(item => !item.includes('\t•\t'));
					
					return (
						<div>
							{beforeList && <p>{beforeList}</p>}
							<ul>
								{listItems.map(item => 
									<li>{item.replace('\t•\t', '').trim()}</li>
								)}
							</ul>
							{afterListContent.map(content => content && <p>{content}</p>)}
						</div>
					);
				} else {
					return <p>{paragraph}</p>;
				}
			})}
		</div>
	</TextSection>

	<CtaGeneral />
</Layout>

<style>
	[astro-icon] {
		height: 3rem;
	}

	.about-content {
		max-width: none;
	}

	.about-content p {
		margin-bottom: 1.5rem;
	}

	.about-content ul {
		margin: 2rem 0;
		padding-left: 1rem;
	}

	.about-content ul li {
		margin-bottom: 0.75rem;
		font-size: 1.05rem;
		font-weight: 500;
	}
</style>
