---
import { Container, FeatureCard } from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import homeContent from '../../assets/cms/home.json';
import CustomerQuoteSection from '../components/sections/CustomerQuoteSection.astro';
import StickyTextImageSection from '../components/sections/StickyTextImageSection.astro';
import Button from '../components/buttons/Button.astro';
import TextSection from '../components/sections/TextSection.astro';
import { Image } from '@astrojs/image/components';
---

<Layout>
	<HomeHeroSection />

	<CustomerQuoteSection
		quoteText={homeContent.quote}
		customerName={homeContent.quoteAuthor}
	/>

	<StickyTextImageSection reversed>
		<picture slot="image-container">
			<Image
				width={400}
				height={520}
				id="ahout-me-home"
				src="./assets/images/home-portrait.webp"
				alt="Empowered Healing Counseling Depression Anxiety Therapy"
				loading={}
			/>
		</picture>
		<div slot="text-container">
			<h2>{homeContent.introTitle}</h2>
			<p style="white-space: pre-line;">
				{homeContent.introDescription}
			</p>
			<div class="intro_button">
				<Button href="/about">About Me</Button>
			</div>
		</div>
	</StickyTextImageSection>

	<TextSection>
		<h2>Telehealth Counseling</h2>
		<p style="white-space: pre-line;">
			{homeContent.telehealth}
		</p>
	</TextSection>

	<Container>
		<section class="feature-card__section">
			<TextSection>
				<h2>Explore</h2>
			</TextSection>
			<div class="feature-card__grid">
				<FeatureCard
					href="/rates-and-insurance"
					title="Rates & Insurance"
					imgSrc="/assets/images/home/rates-and-insurance"
				/>
				<FeatureCard
					href="/somatic-experiencing"
					title="Somatic Experiencing"
					imgSrc="/assets/images/home/somatic-experiencing"
				/>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}

	.intro_button {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
