---
import FeatureCard from '../components/cards/FeatureCard.astro';
import Container from '../components/Container.astro';
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/heros/HomeHeroSection.astro';
import homeContent from '../../public/cms/home.json';
import CustomerQuoteSection from '../components/sections/CustomerQuoteSection.astro';
import StickyTextImageSection from '../components/sections/StickyTextImageSection.astro';
import Button from '../components/buttons/Button.astro';
import TextSection from '../components/sections/TextSection.astro';
import { Image } from '@astrojs/image/components';
import CtaGeneral from '../components/CtaGeneral.astro';

const seo = {
	title: 'Home | Empowered Healing Counseling - Meaghan Trezza, LMHC',
	description: 'Empowered Healing Counseling is a private practice Tacoma Washington, specializing in depression, anxiety, and trauma. Empowered Healing Counseling - Meaghan Trezza, LMHC',
};

---

<Layout>
	<HomeHeroSection />

	<CustomerQuoteSection
		quoteText={homeContent.quote}
		customerName={homeContent.quoteAuthor}
	/>

	<StickyTextImageSection reversed>
		<picture slot="image-container">
			<Image
				width={800}
				height={800}
				id="ahout-me-home"
				src="./assets/images/home-portrait.webp"
				alt="Empowered Healing Counseling Depression Anxiety Therapy"
				loading={}
			/>
		</picture>
		<div slot="text-container">
			<h2>{homeContent.introTitle}</h2>
			<p style="white-space: pre-line;">
				{homeContent.introDescription}
			</p>
			<div class="intro_button">
				<Button href="/about">About Me</Button>
			</div>
		</div>
	</StickyTextImageSection>

	<TextSection>
		<h2>Telehealth Counseling</h2>
		<p style="white-space: pre-line;">
			{homeContent.telehealth}
		</p>
	</TextSection>

	<Container>
		<section class="feature-card__section">
			<TextSection>
				<h2>Explore</h2>
			</TextSection>
			<div class="feature-card__grid">
				<FeatureCard
					href="/rates-and-insurance"
					title="Rates & Insurance"
					imgSrc="./assets/images/rates-and-insurance-home"
				/>
				<FeatureCard
					href="/somatic-experiencing"
					title="Somatic Experiencing"
					imgSrc="./assets/images/somatic-experiencing-home"
				/>
                <FeatureCard
					href="/resources"
					title="Resources"
					imgSrc="./assets/images/resources-home"
				/>
                <FeatureCard
					href="/about"
					title="About Me"
					imgSrc="./assets/images/about-home"
				/>

			</div>
		</section>
	</Container>

	<CtaGeneral />
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
		margin-left: 2rem;
		margin-right: 2rem;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}

	.intro_button {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}

		.intro_button {
            display: flex;
            justify-content: center;
		}

		.feature-card__section {
			margin: var(--section-margin) auto;
			margin-left: 0;
			margin-right: 0;
		}
	}
</style>
