---
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';
import raiContent from '../cms/ratesandinsurance.json';
import CtaGeneral from '../components/CtaGeneral.astro';
import ThreeColumnTextSection from '../components/sections/ThreeColumnTextSection.astro';
import { Icon } from 'astro-icon';
import InfoCard from '../components/InfoCard.astro';
import CustomerQuoteSection from '../components/sections/CustomerQuoteSection.astro';
import ca from 'date-fns/locale/ca';

const seo = {
	title: 'Rates and Insurance | Empowered Healing Counseling',
	description: 'Rates and Insurance Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Rates & Insurance</h1>
		</div>
		<picture slot="image-container">
			<img
				src="./assets/images/mountainforest.webp"
				alt="Rates and Insurance"
				id="home-hero-image"
			/>
		</picture>
	</HeroSection>

    <CustomerQuoteSection
		quoteText={raiContent.quote}
		customerName={raiContent.quoteAuthor}
	/>

	<InfoCard iconName="ic:baseline-perm-phone-msg">
		<h2 slot="card__title">Phone Consultation</h2>
		<p slot="card__body">
			{raiContent.phoneConsultation}
		</p>
	</InfoCard>

	<ThreeColumnTextSection>
		<h2 slot="section-title">Sessions Rates</h2>
		<div slot="column-1-body">
			<Icon name="ci:pie-chart-50" />
			<h3>50 minute</h3>
			<p>
				$130
				<!-- {raiContent.paymentOptions} -->
			</p>
			<ul>
				<li>Somatic Experiencing</li>
				<li>Flexible scheduling</li>
			</ul>
		</div>
		<div slot="column-2-body">
			<Icon name="ci:pie-chart-75" />
			<h3>75 minute</h3>
			<p>$145</p>
			<ul>
				<li>Recomended session length</li>
				<li>Follow up sessions</li>
			</ul>
		</div>
		<div slot="column-3-body">
			<Icon name="bi:circle-fill" />
			<h3>90 minute</h3>
			<p>
				$175
				<!-- <i> All intake sessions</i> -->
			</p>
			<ul>
				<li>Initial intake session</li>
				<li>Follow up sessions</li>
			</ul>
		</div>
	</ThreeColumnTextSection>

	<InfoCard iconName="mdi:credit-card-check-outline">
		<h2 slot="card__title">Medical Insurance</h2>
		<p slot="card__body">
			{raiContent.medicalInsurance}
		</p>
	</InfoCard>

	<InfoCard iconName="uil:file-medical-alt">
		<h2 slot="card__title">Credit Cards & HSA</h2>
		<p slot="card__body">
			{raiContent.payments}
		</p>
	</InfoCard>

	<InfoCard iconName="ic:outline-cancel">
		<h2 slot="card__title">Cancellation Policy</h2>
		<p slot="card__body">
			{raiContent.cancelationPolicy}
		</p>
	</InfoCard>

	<CtaGeneral />
</Layout>

<style>
	.rates-card__section {
		text-align: center;
		max-width: 50rem;
		margin: calc(var(--section-margin) * 2) auto;
	}

	[astro-icon] {
		height: 3.5rem;
	}

	[astro-icon='bi:circle-fill'] {
		height: 3rem;
	}
</style>
