---
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/heros/HeroSection.astro';
import seContent from '../../public/cms/somaticExperiencing.json';
import CtaGeneral from '../components/CtaGeneral.astro';
import CustomerQuoteSection from '../components/sections/CustomerQuoteSection.astro';
import StickyTextImageSection from '../components/sections/StickyTextImageSection.astro';
import TextCardSection from '../components/sections/TextCardSection.astro';
import { Image } from '@astrojs/image/components';

const seo = {
	title: 'Somatic Experiencing | Empowered Healing Counseling - Meaghan Trezza, LMHC',
	description: 'Somatic Experiencing for healing trauma and PTSD. Meaghan Trezza, LMHC, is a Somatic Experiencing Practitioner in Tacoma, Washington.',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Somatic Experiencing</h1>
			<!-- <p>
				{raiContent.payme}
			</p> -->
		</div>
		<picture slot="image-container">
			<Image
				width={780}
                aspectRatio="325:183"
				src="./assets/images/somatic-experiencing.webp"
				alt="Somatic Experiencing"
				id="se-hero-image"
				loading="eager"
			/>
		</picture>
	</HeroSection>

	<CustomerQuoteSection
		quoteText={seContent.quote}
		customerName={seContent.quoteAuthor}
	/>

	<StickyTextImageSection reversed>
		<picture slot="image-container">
			<Image
				width={508}
				height={508}
				src="./assets/images/somatic-experiencing-masks.webp"
				alt="Somatic Experiencing Masks"
			/>
		</picture>
		<div slot="text-container">
			<h2>What is Somatic Experiencing?</h2>
			<p style="white-space: pre-line;">
				{seContent.whatIsSE}
			</p>
			<!-- <div class="intro_button">
                <Button href="/about">
                    About Me
                </Button>
            </div> -->
		</div>
	</StickyTextImageSection>

	<TextCardSection>
		<h2>Why Somatic Experiencing?</h2>
		<p style="white-space: pre-line;">
			{seContent.whySE}
		</p>
		<!-- <div class="intro_button">
                <Button href="/about">
                    About Me
                </Button>
            </div> -->
	</TextCardSection>

	<CtaGeneral />
</Layout>

<style>
	.rates-card__section {
		text-align: center;
		max-width: 50rem;
		margin: calc(var(--section-margin) * 2) auto;
	}

	[astro-icon] {
		height: 3.5rem;
	}

	[astro-icon='bi:circle-fill'] {
		height: 3rem;
	}
</style>
