---
import Header from '../components/Header.astro';
import Button from '../components/buttons/Button.astro';
import Footer from '../components/Footer.astro';
import Layout from './Base.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import settings from '../config/settings';
import { footerLists, footerSocials } from '../config/footer';
import { nav } from '../config/nav.js';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props as Props;
---

<Layout {seo}>
	<Header rightMenu navData={nav} slot="header">
		<span slot="logo">
			<Logo />
		</span>
		<Button slot="action-item" href="/contact">Book a consult</Button>
	</Header>
	<div id="page">
		<slot />
	</div>
	<Footer
		slot="footer"
		{footerLists}
		{footerSocials}
		copyrightName={settings.name}
	>
		<Logo slot="logo" />
	</Footer>
</Layout>
